header {
	background-color: #7E34B3 ;
	color: black;
	padding: 20px;
	text-align: center;
}
h2 {	
	text-align: center;
	background-color: #8E15E5  ;
	font-weight: 400;	
}
#navbar {
	overflow: hidden;
	background-color: #7E34B3;
	border-bottom: 15px;
}
#navbar a {
	float: left;
	display: block;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}	
#navbar a:hover {
	background-color: white;
	color: #7E34B3;
}

#about figure {
	float: right;
}
#hobbies figure {
	float: left;
}
#hobbies #image-gallery {
	margin-left: 10%;
	margin-top: 30px;
	
}
#hobbies img {
	padding: 10px 10px 10px 10px;
	border-style: ridge;
	border: 20px 20px 20px 20px;
	background-color: #7E34B3;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}	
#hobbies p {
	color:#7E34B3 ; 
	text-align: center;
	font-size: 24px;	
	height: 200px;
	width: 800px;
	margin-left: 35%;
	
	
	
}	
figcaption{
padding-top:10px;
font-style: italic;	
font-size: 24px;
color: #8E15E5 ;
text-align: center;
}
#about {
	border-style: ridge;
	border: 20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}	
#about p {
	font-size: 24px;
	margin: 100px 100px 100px 100px;

}
#about img {
	padding: 10px 10px 10px 10px;
	border-style: ridge;
	border: 20px 20px 20px 20px;
	background-color: #7E34B3;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}	
#container {
	border-style: ridge;
	border-width: 20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}	
#container p {
	color: #7E34B3;
	text-align: center;
	font-size: 24px;
	margin: 100px 100px 100px 100px;

}
#container img {
	margin-left: 42%;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
	border-style: ridge;
	border: 20px 20px 20px 20px;
	background-color: #7E34B3;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}
	
img	{
	width:400px;
	height: 550px;
	
}
footer {
	background-color: #7E34B3 ;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: fixed;
	left: 0;
	text-align: right;
}
footer a {
	text-decoration: none;
	color: white;
	text-align: right;
}
#cr {
 float: left;
color: white; 
}