header {
	background-color: #7E34B3 ;
	color: black;
	padding: 20px;
	text-align: center;
}
h2 {	
	text-align: center;
	background-color: #8E15E5  ;
	font-weight: 400;	
}
#navbar {
	overflow: hidden;
	background-color: #7E34B3;
	border-bottom: 15px;
}
#navbar a {
	float: left;
	display: block;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}	
#navbar a:hover {
	background-color: white;
	color: #7E34B3;
}

#about figure {
	float: right;
}
#hobbies figure {
	float: left;
}

figcaption{
font-style: italic;	
font-size: .75em;
color: #8E15E5 ;
text-align: center;
}
#about {
	border-style: ridge;
	border: 20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}	
#about p {
	font-size: 24px;
	margin: 100px 100px 100px 100px;

}
#container p {
	color: #7E34B3;
	text-align: center;
	font-size: 24px;
	margin: 100px 100px 100px 100px;

}
#container img {
	padding-left: 42%;
}	
img	{
	width:400px;
	height: 550px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
footer {
	background-color: #7E34B3 ;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: fixed;
	left: 0;
	text-align: right;
}
footer a {
	text-decoration: none;
	color: white;
	text-align: right;
}
#cr {
 float: left;
color: white; 
}